<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Users</title>
  </head>
  <body>
    <div id="container"></div>
    <script type="text/javascript">
      let UsersApp = {
        config: {
          apiAddress: '${state.apiAddress}',
          baseUrl: '/'
        }
      };
    </script>
    <!-- <script type="text/javascript" src="//unpkg.com/mithril/mithril.js"></script> -->
    <script type="text/javascript" src="/js/mithril.js"></script>
    <script type="text/javascript" src="/js/simple-require.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
  </body>
</html>